<section class="list">
    <h2 class="list__title">Cart</h2>

    <ng-container *ngIf="products$ | async as cartItems">
        <div class="list__container" *ngIf="cartItems.length; else empty">
            <div class="list__items">
                <app-cart-list-item 
                    *ngFor="let item of cartItems; index as i; trackBy: trackByItems"
                    [item]="item"
                    (decrease)="decreaseQuantity(item)"
                    (increase)="increaseQuantity(item)"
                    (remove)="removeFromCart(item.id)" 
                    (viewProduct)="navigateToProduct(item.id)"
                ></app-cart-list-item>
            </div>

            <aside class="total-price" *ngIf="{price: totalPrice$ | async, quantity: totalQuantity$ | async} as total">
                <h3>Total:</h3>

                <p>{{ total.price | currency:'USD':'symbol' }}</p>
                
                <p>for</p>

                <p>{{ total.quantity }} item{{ total.quantity && total.quantity > 1 ? 's' : ''}}</p>

                <button mat-flat-button color="primary" (click)="onSubmitOrder()">
                    Submit order
                </button>
            </aside>
        </div>
    </ng-container>
</section>

<ng-template #empty>
    <article class="empty-cart">
        <mat-icon class="empty-cart__icon">shopping_basket</mat-icon>
        <h3>Your cart is empty :(</h3>
        <p class="empty-cart__subtext">Looks like you haven't made your choise yet...</p>
    </article>
</ng-template>